*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body{
    min-height: 1000px;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
    transition: 0.6s;
    background-size: cover;
  }
  
  /*streetlooper image*/
  nav img{
    height: 3vw;
    min-height: 30px;
    position: relative;
  }
  
  .navbar-brand{
    padding-left: 7vw;
  }
  .nav-item{
    padding-left: 7vw;
  }
  .navbar-toggler{
    margin-right: 8vw;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*blue 1 alignment*/
  .blue1{
    padding-left: 100px;
    padding-top: 50px;
    background-color: #05406b;
    overflow: hidden;
    padding-bottom: 7vw;
    margin-bottom: -7vw;
  }
  
  /*blue 1 text alignment*/
  .blue1 .text{
    float:left;
    color: #fff;
    font-family: 'Calibri';
    max-width: 50%;
  }
  
  /*blue 1 text sizing and formatting*/
  .blue1 .text h1{
    font-size: 5vw;
  }
  .blue1 .text h2{
    font-size: 5vw;
    color: #93d5dc;
  }
  .blue1 .text h3{
    font-size: 3vw;
    font-family: 'Calibri', monospace;
    padding-top: 10px;
  }
  .blue1 .text p{
    padding-top: 30px;
    font-size: 1.5vw;
    font-family: 'Roboto Light', sans-serif;
  }
  .blue1 .award_img a img{
    max-height: 100px;
    width: auto;
  }
  
  /*blue 1 image alignment*/
  .blue1 .imgbox img{
    padding-right: 50px;
    float: right;
    max-width: 50%;
    height: auto;
    padding-bottom: 150px;
  }
  
  .download{
  
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    margin-top: 30px;
    font-size: 16px;
    background: #42ba78;
    border-radius: 5px;
    border: 0px;
  }
  
  /*button hover effect*/
  .download:hover{
    transform: translate(5px,5px);
    box-shadow: -5px 5px 0px #043356; 
    transition: 0.4s;
  }
  
  /*blue 1 resolution adjustment*/
  @media(max-width: 700px){
    .blue1 .award_img a img{
      max-height: 80px;
    }
  }
  @media (max-width: 1100px){
    .blue1{
      padding-left: 30px;
      padding-right: 30px;
    }
    .blue1 .imgbox{
      text-align: center;
    }
    .blue1 .imgbox img{
      padding-right: 50px;
      transform: translateX(-5vw);
      float: none;
      max-width: 110%;
    }
    .blue1 .text{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 100px;
    } 
    .blue1 .text h1{
      font-size: 12vw;
    }
    .blue1 .text h2{
      font-size: 12vw;
    }
    .blue1 .text h3{
      font-size: 6vw;
      font-family: 'Calibri', monospace;
      padding-top: 10px;
    }
    .blue1 .text p{
      padding-top: 30px;
      font-size: 3.5vw;
      font-family: 'Roboto Light', sans-serif;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*white 1 grid alignment*/
  .white1 .list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0px;
  
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  
    text-align: center;
    background: #e2f6f8;
    border-radius: 7px;
  }
  .white1 .list div{
    margin-top: 40px;
    margin-bottom: 40px;
    width: auto;
    border-right: 1px solid #38424d;
    padding: 1px;
  }
  .white1 .list div:last-child{
    border-right: none;
  }
  
  /*white 1 list text formatting*/
  .white1 .list h2{
    font-size: 36px;
    color: #2495a1;
  }
  .white1 .list p{
    max-width: 100%;
    padding-left: 4.1vw;
    font-size: 16px;
    color: #777777;
    transform: translateX(-2.05vw);
  }
  
  /*white 1 space adjustment*/
  .space{
    margin-top: 400px;
  }
  .space2{
    margin-top: 400px;
  }
  .space3{
    margin-top: 100px;
  }
  @media (max-width: 900px){
    .space2{
      margin-top: 550px;
    }
  }
  
  /*white 1 text alignment*/
  .format_textbox{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /*white 1 text formatting*/
  .format_textbox h1{
    font-size: 44px;
    padding-bottom: 24px;
    color: #444444;
    text-align: center;
  }
  .format_textbox p{
    font-size: 20px;
    color: #555555;
    text-align: center;
  }
  
  @media(max-width:900px){
    .format_textbox h1{
      font-size: 24px;
    }
  }
  /*white 1 image marquee*/
  .format_textbox marquee{
    display: inline-block;
    padding-top: 50px;
    white-space: nowrap;
  }
  .format_textbox div{
    display: inline-block;
  }
  .format_textbox marquee img{
    height: 100px;
    width: auto;
    display: inline-block;
  }
  
  /*white 1 resolution adjustment*/
  @media(max-width: 960px){
    .format_textbox{
      width: 90%;
    }
    .format_textbox h1{
      font-size: 36px;
    }
    .textbox{
      padding-top: 10px;
      border-radius: 10px;
    }
    .white1 .list div:last-child{
      border-bottom: none;
    }
    .white1 .list div:nth-child(3){
      border-bottom: none;
    }
    .blue1{
    padding-bottom: 350px;
    margin-bottom: -350px;
    }
  }
  @media(max-width: 660px){
    .white1 .list div{
      margin-bottom: 0px;
      margin-top: 20px;
      padding-bottom: 20px;
      border-right: none;
      border-bottom: 1px solid #93d5dc;
    }
    .white1 .list div:last-child{
      border-bottom: none;
    }
    .white1 .list div:nth-child(3){
      border-bottom: 1px solid #93d5dc;
    }
    .blue1{
    padding-bottom: 600px;
    margin-bottom: -600px;
    }
  }
  
  
  /*4 button grid*/
  .format_buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: 30px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 80%;
    max-height: 500px;
  }
  /*grid resolution adjustments*/
  @media (max-width: 900px) {
    .format_buttons {
      margin-top: -150px;
      margin-bottom: 600px;
      margin-left: 10px;
      margin-right: 10px;
      grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
      grid-gap: 20px;
    }
    .format_buttons button{
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
  @media (min-width:900px) {
    .format_buttons button {  
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  
  /*button formatting*/
  .format_buttons button {
    border: 0px solid #fff;
    background: #e2f6f8;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
  }
  
  /*button hover effect*/
  .format_buttons button:hover{
    transform: translate(5px,5px);
    box-shadow: -10px 10px 0px #cccccc; 
    transition: 0.4s;
  }
  /*button content formatting*/
  .format_buttons button img{
    width: 70px;
    height: auto;
  }
  .format_buttons button h2{
    font-size: 32px;
    font-family: Calibri;
  }
  .format_buttons button p{
    font-size: 20px;
  }
  .format_buttons button h3{
    font-size: 20px;
    font-family: Calibri;
    color:#05406b;
  }
  .format_buttons .button_green{
    background: #e0f5eb;
  }
  
  
  
  
  
  
  .format_comment {
    margin-top: 150px;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
  }
  
  @media(max-width:900px){
    .format_comment{
      margin-top: 300px;
    }
  }
  .review_img {
    position: absolute;
    bottom: 50%;
    left: 2.5%;
    width: 20%;
    height: auto;
  }
  
  .review {
    position: absolute;
    bottom: 3%;
    left: 12%;
    color: #38424d;
    padding: 0 5%;
    max-width: 85%;
  }
  
  .review h4 {
    font-size: 1.7vw;
  }
  
  .review p {
    font-size: 1.3vw;
    padding-top: 4%;
  }
  
  .review h5 {
    font-size: 1.4vw;
    padding-top: 3%;
  }
  
  .review h6 {
    font-size: 1.2vw;
    padding-top: 0.5%;
    padding-bottom: 2%;
  }
  
  
  
  
  
  .blue2{
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #05406b;
    margin-top: 150px;
    padding-top: -350px;
    color: #ffffff;
    text-align: center;
  }
  
  .blue2 h1{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-size: 44px;
    padding-bottom: 24px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
  }
  
  .blue2 p{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
  }
  
  @media(max-width:900px){
    .blue2{
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .blue2 h1{
      font-size: 36px;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
    .blue2 p{
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  
  .carousel-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
  }
  .carousel-buttons {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.7s ease-in-out;
  }
  
  .carousel img {
    width: calc(100% / 3);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  @media(max-width: 900px){
    .prev-btn img,
    .next-btn img{
      height: px;
      width: 0px;
    }
  
    .carousel-container{
      width: 100%;
    }
  }
  .prev-btn,
  .next-btn {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #05406b;
    border: 2px solid #05406b;
    border-radius: 50%;
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
  }
  
  .prev-btn {
    left: -40vw;
    top: 13vw;
  }
  
  .next-btn {
    right: -40vw;
    top: 13vw;
  }
  .prev-btn:focus, .prev-btn:active:focus, .prev-btn.active:focus{
      outline:none;
      box-shadow:none;
  }
  
  
  .next-btn:focus, .next-btn:active:focus, .next-btn.active:focus{
      outline:none;
      box-shadow:none;
  }
  
  
  
  
  
  
  
  
  .white2{
    padding-bottom: 100px;
    overflow: hidden;
    margin-top: -50px;
  }
  .white2 .textbox{
    width: 80%;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .white2 .textbox h4{
    font-size: 44px;
    padding-bottom: 24px;
    color: #444444;
    text-align: center;
  }
  
  .white2 .textbox h5{
    font-size: 20px;
    color: #555555;
    text-align: center;
  }
  @media(max-width:960px){
    .white2 .textbox h4{
      font-size: 32px;
    }
  }
  .collapse_imgbox{
    float: right;
    max-width: 40%;
  }
  .collapse_imgbox img{
    width: 100%;
    height: auto;
  }
  .combine{
    float: left;
    max-width: 60%;
  }
  .format_collapse {
    margin-left: 7vw;
    border-bottom: 1px solid #ccc;
  
  }
  .format_collapse button{
    width: 100%;
    text-align: left;
  }
  
  .format_collapse .collapsible {
    padding: 20px;
    outline: none;
    font-size: 24px;
    background-color: white;
    border: none;
  }
  
  .format_collapse .content {
    padding: 0 20px;
    padding-bottom: 20px;
    font-size: 20px;
    display: none;
    background-color: #e0f5eb;
  }
  
  .format_collapse .btn_text:after {
    content: '+';
    float: right;
    text-align: right;
    color: #ccc;
    margin-right: 10px;
  }
  
  .format_collapse .active .btn_text:after {
    content: "-";
    float: right;
    text-align: right;
    color: #ccc;
    margin-right: 10px;
  }
  .format_collapse .active {
    background-color: #e0f5eb;
  }
  
  @media(max-width:1000px) {
    .combine{
    max-width: 100%;
    }
    .format_collapse{
      margin-left: 0vw;
    }
    .collapse_imgbox{
      float: none;
        max-width: 100%;
    }
    .collapse_imgbox img{
      width: 80%;
      margin-left: 10%;
    }
  }
  
  
  
  
  
  
  
  .blue3{
    background-color: #05406b;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .blue3 h1{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-size: 44px;
    padding-bottom: 24px;
    color: #ffffff;
    text-align: center;
  }
  
  .blue3 p{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    padding-bottom: 50px;
  }
  
  @media(max-width:900px){
    .blue3 h1{
      font-size: 36px;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
    .blue3 p{
      max-width: 90%;
    }
  }
  
  .blue3 table{
    color: #38424d;
    font-family: 'Roboto Light', sans-serif;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #111111; 
  }
  @media(min-width: 769px) {
    .mobileColumnGroup {
      display: none;
    }
  }
  
  .featureCheckspecial{
    box-shadow: 0px 0px 100px #111111;
  }
  .tableContainer {
    overflow-x: auto;
    overflow-anchor: none;
    position: relative;
  }
  .tableContainer caption {
    height: 0px;
  }
  thead tr {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .rowHeader, [scope="colgroup"] span {
    left: 0;
    position: sticky;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
  }
  .columnHeaderspecial, .sl{
    background: #ffffff;
  }
  .columnHeader{
    padding-bottom: 20px;
  }
  td, th {
    border: 1px solid #b7e6eb;
    border-right: hidden;
    border-left: hidden;
    text-align: center;
    padding: 15px;
    min-width: 100px;
    max-width: 100px;
    background: #effafb;
  }
  .mobileColumnGroup th {
      text-align: left;
  }
  .rowHeader {
    text-align: left;
  }
  .featureCheck {
    color: green;
  }
  .featureCheckspecial {
    color: green;
  }
  
  .featureX {
    color: red;
  }
  thead.stickyHeader {
    position: fixed;
    z-index: 999;
    overflow-x: scroll;
    top: 0px;
  }
  thead.stickyHeader.atBottom {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 0px !important;
    top: initial;
    width: initial !important;
    overflow-x: clip;
  }
  thead::-webkit-scrollbar {
    height: 0px;
  }
  .horizontal-scroller {
    position: fixed;
    bottom: 0;
    height: 30px;
    overflow: auto;
    overflow-y: hidden;
  }
  .horizontal-scroller-content {
    height: 30px;
  }
  tr>th:nth-child(1),tr>td:nth-child(1){
    position: sticky;
    left: 0;
  }
  tr>th:nth-child(2),tr>td:nth-child(2){
    position: sticky;
    left: 100px;
  }
  
  
  
  
  
  
  
  
  
  .format_textbox2{
    padding-left: 70px;
    overflow: hidden;
    padding-bottom: 7vw;
    margin-bottom: -7vw;
  }
  
  /*blue 1 text alignment*/
  .format_textbox2 .heading{
    float:left;
    font-family: 'Calibri';
    max-width: 40%;
  }
  .format_textbox2 .heading h1{
    font-size: 50px;
  }
  .format_textbox2 .heading h4{
    font-size: 32px;
    color: #2495a1;
  }
  .format_textbox2 .text p{
    font-size: 18px;
  }
  
  .format_textbox2 .text{
    padding-right: 50px;
    float: right;
    max-width: 55%;
    height: auto;
    padding-bottom: 150px;
  }
  
  .format_textbox2 button{
  
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    margin-top: 30px;
    font-size: 16px;
    background: #42ba78;
    border-radius: 5px;
    border: 0px;
  }
  
  /*button hover effect*/
  .format_textbox2 button:hover{
    transform: translate(5px,5px);
    box-shadow: -5px 5px 0px #cccccc; 
    transition: 0.4s;
  }
  
  
  @media (max-width: 1000px){
      .format_textbox2 .heading h4{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    .format_textbox2{
      padding-left: 0vw;
    }
    
    .format_textbox2 .text{
      text-align: justify;
      float: none;
      padding-right: 5vw;
      padding-left: 5vw;
      max-width: 100%;
    }
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 50px;
    } 
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 50px;
    } 
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
  
      text-align: center;
      padding-bottom: 50px;
    } 
  
  }
  
  
  
  
  
  
  
  
  
  /*footer formatting*/
  footer .footer1{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 1px solid #93d5dc;
    background-color: #05406b;
    display: flex;
    justify-content: space-between;
  }
  footer img{
    height: 30px;
    width: auto;
  }
  footer .medialinks a img{
    margin-left: 10px;
    width: 30px;
    height: auto;
    background-color: #93d5dc;
    border-radius: 20px;
    border: 5px solid #93d5dc;
  } 
  footer .terms{
    background-color: #454545;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  footer ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer ul li{
    list-style: none;
    padding-right:3vw;
    padding-left: 3vw;
  }
  
  footer ul li a{
    font-size: 14px;
    color: #93d5dc;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #454545;
  }
  
  footer ul li a:hover{
    border-bottom: 1px solid #2495a1;
    color: #2495a1;
    transition: 0.4s;
  }
  @media (max-width: 900px){
    footer .footer1{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 660px){
    footer ul li{
      padding-right: 2vw;
      padding-left: 2vw;
    }
    footer ul li a{
      font-size: 12px;
    }
  }