*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  body{
    min-height: 1000px;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
    transition: 0.6s;
    background-size: cover;
    background-color: #1e1e1e;
  }
  
  /*logo image*/
  nav img{
    height: 3vw;
    min-height: 30px;
    position: relative;
  }
  
  .navbar-brand{
    padding-left: 7vw;
  }
  .nav-item{
    padding-left: 7vw;
  }
  .navbar-toggler{
    margin-right: 8vw;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*blue 1 alignment*/
  .blue1{
    padding-left: 100px;
    padding-top: 50px;
    background-color: #2b2d42;
    overflow: hidden;
    margin-bottom: -7vw;
  }
  
  /*blue 1 text alignment*/
  .blue1 .text{
    float:left;
    color: #fff;
    font-family: 'Calibri';
    max-width: 50%;
  }
  
  /*blue 1 text sizing and formatting*/
  .blue1 .text h1{
    font-size: 5vw;
  }
  .blue1 .text h2{
    font-size: 5vw;
    color: #ee781b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  .blue1 .text p{
    padding-top: 30px;
    font-size: 1.5vw;
  }
  .blue1 .award_img a img{
    max-height: 120px;
    width: auto;
  }
  
  /*blue 1 image alignment*/
  .blue1 .imgbox img{
    padding-right: 50px;
    float: right;
    max-width: 50%;
    height: auto;
    padding-bottom: 150px;
  }
  
  .download{
  
    display: inline-block;
    text-decoration: none;
    color: #1e1e1e;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 18px;
    background: #7aae5c;
    border-radius: 5px;
    border: 0px;
  }
  
  /*button hover effect*/
  .download:hover{
    transform: translate(5px,5px);
    box-shadow: -5px 5px 0px #1e1e1e; 
    transition: 0.4s;
  }

  
  /*blue 1 resolution adjustment*/
  @media(max-width: 700px){
    .blue1 .award_img a img{
      max-height: 80px;
    }
  }
  @media (max-width: 1100px){
    .blue1{
      padding-left: 30px;
      padding-right: 30px;
    }
    .blue1 .imgbox{
      text-align: center;
    }
    .blue1 .imgbox img{
      padding-right: 50px;
      transform: translateX(-5vw);
      float: none;
      max-width: 110%;
      margin-bottom: -100px;
    }
    .blue1 .text{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 100px;
    } 
    .blue1 .text h1{
      font-size: 11vw;
    }
    .blue1 .text h2{
      font-size: 15vw;
    }
    .blue1 .text p{
      padding-top: 30px;
      font-size: 3.5vw;
    }

  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*white 1 grid alignment*/
  .white1 .list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0px;
  
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  
    text-align: center;
    background: #e6e6e6;
    border-radius: 7px;
  }
  .white1 .list div{
    margin-top: 40px;
    margin-bottom: 40px;
    width: auto;
    border-right: 1px solid #38424d;
    padding: 1px;
  }
  .white1 .list div:last-child{
    border-right: none;
  }
  
  /*white 1 list text formatting*/
  .white1 .list h2{
    font-size: 36px;
    color: #ee781b;
  }
  .white1 .list p{
    max-width: 100%;
    padding-left: 4.1vw;
    font-size: 16px;
    color: #444444;
    transform: translateX(-2.05vw);
  }
  
  /*white 1 space adjustment*/
  .space{
    margin-top: 150px;
  }
  
  /*white 1 text alignment*/
  .format_textbox{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /*white 1 text formatting*/
  .format_textbox h1{
    font-size: 44px;
    padding-bottom: 24px;
    color: #1e1e1e;
    text-align: center;
  }
  .format_textbox p{
    font-size: 20px;
    color: #444444;
    text-align: center;
  }
  
  @media(max-width:900px){
    .format_textbox h1{
      font-size: 24px;
    }
    .space{
      margin-top: 200px;
    }
  }
  /*white 1 image marquee*/
  .format_textbox marquee{
    display: inline-block;
    padding-top: 50px;
    white-space: nowrap;
  }
  .format_textbox div{
    display: inline-block;
  }
  .format_textbox marquee img{
    height: 100px;
    width: auto;
    display: inline-block;
  }
  
  /*white 1 resolution adjustment*/
  @media(max-width: 960px){
    .format_textbox{
      width: 90%;
    }
    .format_textbox h1{
      font-size: 36px;
    }
    .textbox{
      padding-top: 10px;
      border-radius: 10px;
    }
    .white1 .list div:last-child{
      border-bottom: none;
    }
    .white1 .list div:nth-child(3){
      border-bottom: none;
    }
    .blue1{
    padding-bottom: 350px;
    margin-bottom: -350px;
    }
  }
  @media(max-width: 660px){
    .white1 .list div{
      margin-bottom: 0px;
      margin-top: 20px;
      padding-bottom: 20px;
      border-right: none;
      border-bottom: 1px solid #7e7361;
    }
    .white1 .list div:last-child{
      border-bottom: none;
    }
    .white1 .list div:nth-child(3){
      border-bottom: 1px solid #7e7361;
    }
    .blue1{
    padding-bottom: 600px;
    margin-bottom: -600px;
    }
  }
  
  
  /*4 button grid*/
  .format_buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    grid-gap: 30px;
    justify-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 80%;
    max-height: 500px;
  }
  /*grid resolution adjustments*/
  @media (max-width: 900px) {
    .format_buttons {
      margin-top: -80px;
      margin-bottom: 550px;
      margin-left: 10px;
      margin-right: 10px;
      grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
      grid-gap: 20px;
    }
    .format_buttons button{
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
  @media (min-width:900px) {
    .format_buttons button {  
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  
  /*button formatting*/
  .format_buttons button {
    border: 0px solid #fff;
    background: #f5b041;
    width: 100%;
    max-width: 1000px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
  }
  
  /*button hover effect*/
  .format_buttons button:hover{
    transform: translate(5px,5px);
    box-shadow: -10px 10px 0px #bdb7ad; 
    transition: 0.4s;
  }
  /*button content formatting*/
  .format_buttons button img{
    width: 70px;
    height: auto;
  }
  .format_buttons button h2{
    font-size: 32px;
    font-family: Calibri;
  }
  .format_buttons button p{
    font-size: 20px;
  }
  .format_buttons button h3{
    font-size: 20px;
    font-family: Calibri;
    color:#fcfaf7;
  }
  .format_buttons .button_green{
    background: #ee781b;
  }
  
  
  
  .blue2{
    padding-left: 0vw;
    padding-right: 0vw;
    background-color: #2b2d42;
    margin-top: 150px;
    padding-top: -350px;
    color: #fcfaf7;
    text-align: center;
  }
  
  .blue2 h1{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-size: 44px;
    padding-bottom: 24px;
    color: #fcfaf7;
    text-align: center;
    padding-top: 50px;
  }
  
  .blue2 p{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: #fcfaf7;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
  }
  
  @media(max-width:900px){
    .blue2 h1{
      padding-left: 5vw;
      padding-right: 5vw;
      font-size: 36px;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
    .blue2 p{
      padding-left: 5vw;
      padding-right: 5vw;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  .carouselControls {
    padding-top: 50px;
  }
  .carousel-img {
    width: calc(80% / 3);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .download {
    margin-bottom: 30px;
  }

  
  
  
  .white2{
    padding-bottom: 100px;
    overflow: hidden;
    margin-top: -50px;
  }
  .white2 .textbox{
    width: 80%;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .white2 .textbox h4{
    font-size: 44px;
    padding-bottom: 24px;
    color: #444444;
    text-align: center;
  }
  
  .white2 .textbox h5{
    font-size: 20px;
    color: #555555;
    text-align: center;
  }
  @media(max-width:960px){
    .white2 .textbox h4{
      font-size: 32px;
    }
  }
  .collapse_imgbox{
    float: right;
    max-width: 40%;
  }
  .collapse_imgbox img{
    width: 100%;
    height: auto;
  }
  .combine{
    float: left;
    max-width: 60%;
  }
  .format_collapse {
    margin-left: 7vw;
    border-bottom: 1px solid #fcfaf7;
  
  }
  .format_collapse button{
    width: 100%;
    text-align: left;
  }
  
  .format_collapse .collapsible {
    padding: 20px;
    outline: none;
    font-size: 24px;
    background-color: #fcfaf7;
    border: none;
  }
  
  .format_collapse .content {
    padding: 0 20px;
    padding-bottom: 20px;
    font-size: 20px;
    display: none;
    background-color: #e6e6e6;
  }
  
  .format_collapse .btn_text:after {
    content: '+';
    float: right;
    text-align: right;
    color: #1e1e1e;
    margin-right: 10px;
  }
  
  .format_collapse .active .btn_text:after {
    content: "-";
    float: right;
    text-align: right;
    color: #1e1e1e;
    margin-right: 10px;
  }
  .format_collapse .active {
    background-color: #e6e6e6;
  }
  
  @media(max-width:1000px) {
    .combine{
    max-width: 100%;
    }
    .format_collapse{
      margin-left: 0vw;
    }
    .collapse_imgbox{
      float: none;
        max-width: 100%;
    }
    .collapse_imgbox img{
      width: 80%;
      margin-left: 10%;
    }
  }
  
  
  
  
  
  
  
  .blue3{
    background-color: #2b2d42;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  
  .blue3 h1{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-size: 44px;
    padding-bottom: 24px;
    color: #fcfaf7;
    text-align: center;
  }
  
  .blue3 p{
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    color: #fcfaf7;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    padding-bottom: 50px;
  }
  
  @media(max-width:900px){
    .blue3 h1{
      font-size: 36px;
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
    .blue3 p{
      max-width: 90%;
    }
  }
  
  .blue3 table{
    color: #38424d;
    font-family: 'Roboto Light', sans-serif;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px #1e1e1e; 
  }
  @media(min-width: 769px) {
    .mobileColumnGroup {
      display: none;
    }
  }
  
  .featureCheckspecial{
    box-shadow: 0px 0px 100px #1e1e1e;
  }
  .tableContainer {
    overflow-x: auto;
    overflow-anchor: none;
    position: relative;
  }
  .tableContainer caption {
    height: 0px;
  }
  thead tr {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .rowHeader, [scope="colgroup"] span {
    left: 0;
    position: sticky;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
  }
  .columnHeaderspecial, .sl{
    background: #fcfaf7;
  }
  .columnHeader{
    padding-bottom: 20px;
  }
  td, th {
    border: 1px solid #9a9a9a;
    border-right: hidden;
    border-left: hidden;
    text-align: center;
    padding: 15px;
    min-width: 100px;
    max-width: 100px;
    background: #e6e6e6;
  }
  .mobileColumnGroup th {
      text-align: left;
  }
  .rowHeader {
    text-align: left;
  }
  .featureCheck {
    color: #4caf50;
  }
  .featureCheckspecial {
    color: #4caf50;
  }
  
  .featureX {
    color: #e53935;
  }
  thead.stickyHeader {
    position: fixed;
    z-index: 999;
    overflow-x: scroll;
    top: 0px;
  }
  thead.stickyHeader.atBottom {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 0px !important;
    top: initial;
    width: initial !important;
    overflow-x: clip;
  }
  thead::-webkit-scrollbar {
    height: 0px;
  }
  .horizontal-scroller {
    position: fixed;
    bottom: 0;
    height: 30px;
    overflow: auto;
    overflow-y: hidden;
  }
  .horizontal-scroller-content {
    height: 30px;
  }
  tr>th:nth-child(1),tr>td:nth-child(1){
    position: sticky;
    left: 0;
  }
  tr>th:nth-child(2),tr>td:nth-child(2){
    position: sticky;
    left: 100px;
  }
  
  
  
  
  
  
  
  
  
  .format_textbox2{
    padding-left: 70px;
    overflow: hidden;
    padding-bottom: 7vw;
    margin-bottom: -7vw;
  }
  
  /*blue 1 text alignment*/
  .format_textbox2 .heading{
    float:left;
    font-family: 'Calibri';
    max-width: 40%;
  }
  .format_textbox2 .heading h1{
    font-size: 50px;
  }
  .format_textbox2 .heading h4{
    font-size: 32px;
    color: #2495a1;
  }
  .format_textbox2 .text p{
    font-size: 18px;
  }
  
  .format_textbox2 .text{
    padding-right: 50px;
    float: right;
    max-width: 55%;
    height: auto;
    padding-bottom: 150px;
  }
  
  .format_textbox2 button{
  
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 24px;
    margin-top: 30px;
    font-size: 16px;
    background: #42ba78;
    border-radius: 5px;
    border: 0px;
  }
  
  /*button hover effect*/
  .format_textbox2 button:hover{
    transform: translate(5px,5px);
    box-shadow: -5px 5px 0px #fcfaf7; 
    transition: 0.4s;
  }
  
  
  @media (max-width: 1000px){
      .format_textbox2 .heading h4{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    .format_textbox2{
      padding-left: 0vw;
    }
    
    .format_textbox2 .text{
      text-align: justify;
      float: none;
      padding-right: 5vw;
      padding-left: 5vw;
      max-width: 100%;
    }
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 50px;
    } 
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
      text-align: center;
      padding-bottom: 50px;
    } 
    .format_textbox2 .heading{
      float: none;
      max-width: 100%;
  
      text-align: center;
      padding-bottom: 50px;
    } 
  
  }
  
  
  
  
  
  
  
  
  
  /*footer formatting*/
  footer .footer1{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 1px solid #f5eee3;
    background-color: #2b2d42;
    display: flex;
    justify-content: space-between;
  }
  footer img{
    height: 30px;
    width: auto;
  }
  footer .medialinks a img{
    margin-left: 10px;
    width: 30px;
    height: auto;
    background-color: #f5eee3;
    border-radius: 20px;
    border: 5px solid #f5eee3;
  } 
  footer .terms{
    background-color: #1e1e1e;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #444444;
  }
  footer ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer ul li{
    list-style: none;
    padding-right:3vw;
    padding-left: 3vw;
  }
  
  footer ul li a{
    font-size: 14px;
    color: #b5480f;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid #b5480f;
  }
  
  footer ul li a:hover{
    border-bottom: 1px solid #ee781b;
    color: #ee781b;
    transition: 0.4s;
  }
  @media (max-width: 900px){
    footer .footer1{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media (max-width: 660px){
    footer ul li{
      padding-right: 2vw;
      padding-left: 2vw;
    }
    footer ul li a{
      font-size: 12px;
    }
  }